.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    z-index: 1000;
}

.navbar.show {
    transform: translateY(0);
}

h3{
    font-weight: 400;
    color: #D6CCC2;
}

.hero{
    padding: 40px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/images/blob.svg);
    background-repeat: no-repeat;
}
.hero-image img{
    width: 100%;
    height: auto;
}
.dark-mode .hero-image img{
    content: url(../assets/images/Blogging-dark.svg);
}
.dark-mode h3{
    color: #B8DBD9;
}

@media (min-width: 768px) {

    .hero-text h3{
        font-size: 28px;
    }
    .hero{
        height: 100dvh;
        padding: 50px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
    }
    .hero-image{
        width: 40vw;
    }
    .hero-image img{
        width: 100%;
        height: auto;
    }
}
  
@media (min-width: 1024px) {
    .hero{
        padding: 0 70px;
        justify-content: space-between;
    }
    .hero-text h1{
        font-size: 52px;
    }
    .hero-text h3{
        font-size: 36px;
    }
}