
body {
  font-family: 'Shantell sans', sans-serif;
  margin: 0;
  padding: 0;
}
.hero{
  position: relative;
}

.hero-text {
  transition: position 0.3s ease, background-color 0.3s ease;
}

.hero-text.sticky {
  position: fixed; /* Fix the position when it becomes sticky */
  top: 0; /* Stick to the top of the viewport */
  left: 0;
  width: 100%; /* Full width to cover the viewport */
  background-color: white; /* Optional: background color to ensure readability */
  z-index: 10; /* Ensure it stays above other content */
  padding: 40px;
}

h1{
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}
h3{
  font-size: 24px;
  margin: 0;
}
p{
  line-height: 25px;
}


/* Dark Mode Styles */
.dark-mode {
  background-color: #222831; /* Dark mode background */
  color: #e0e0e0; /* Dark mode text color */
}

/* Dark Mode Header */
.dark-mode header {
  background-color: #333333; /* Dark mode header background */
  color: #f0f0f0; /* Dark mode header text color */
}

/* Dark Mode Links */
.dark-mode a {
  color: #bb86fc; /* Dark mode link color */
}

/* Dark Mode Buttons */
.dark-mode button {
  background-color: #444444; /* Dark mode button background */
  color: #e0e0e0; /* Dark mode button text color */
}

/* Dark Mode Cards/Containers */
.dark-mode .card, .dark-mode .container {
  background-color: #222831; /* Dark mode card/container background */
  border: 1px solid #444444; /* Dark mode border color */
  color: #e0e0e0; /* Dark mode text color */
}

/* Dark Mode Input Fields */
.dark-mode input, .dark-mode textarea {
  background-color: #333333; /* Dark mode input background */
  color: #e0e0e0; /* Dark mode input text color */
  border: 1px solid #444444; /* Dark mode input border color */
}



/* Add more styles as needed for different elements */
@media (min-width: 768px) {
  h1{
    font-size: 52px;
  }
  h3{
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  h1{
    font-size: 52px;
  }
  h3{
    font-size: 32px;
  }
}